
@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    
}

/* CSS HEX 
--egyptian-blue: #29339bff;
--columbia-blue: #b9d6f2ff;
--kelly-green: #38b000ff;
--asparagus: #6baa75ff;
--sgbus-green: #84dd63ff;
--lime: #cbff4dff;
*/

:root {
    --primary-color: #29339bff;
    --secondary-color: #38b000ff;
    --accent1-color: #cbff4dff;
    --accent2-color: #6baa75ff;

    --heading-font: 'Amaranth', sans-serif;
    --paragraph-font: 'Adamina', serif;

    --nav-background-color: #84dd63ff;
    --nav-link-color:var(--primary-color);
    --nav-hover-link-color:var(--accent1-color);
    --nav-hover-background-color:var(--secondary-color);
}

h1,h2,h3,h4,h5,h6 {
    font-family:var(--heading-font);
    color:var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--nav-background-color);
}

p {
    padding: 20px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

