* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    
}

main p {
    padding: 10px;
    color: darkgreen; 
}

nav {
    background-color: black;
    padding: 10px;
}

nav a {
    color: yellow;
    display: block;
    padding: 20px;
}

h1 {
    color: darkgreen;
    text-align: center;
}

h2 {
    position: absolute;
    top: 25px;
    left: 65px;
}

aside {
    position: relative;
    width: 200px;
    text-align: center;
    padding: 15px;
    
}

aside p {
    color: whitesmoke;
    padding: 0;
}

aside img {
    width: 175px;
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: 2px dotted green;
    text-align: center;
}

/* Class selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 2px solid red;
    background-color: darkgreen;
    color: black;
}

.box a {
    color: whitesmoke;
}
